body {
    background-color: rgb(228, 228, 228);
}

#title {

    text-align: center;

}

#gamegrid {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 3em;
}

.gamerow {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 1em;
}

.gamecard {
    font-size: 1em;
    padding: 0.5em;
    display: flex;
    flex-direction: column;
    background-color: white;
    align-items: center;
    width: 100%;
    border-radius: 0.5em;
    gap: 1em;
    padding-bottom: 1em;
    transition: filter 0.2s;
}

.gamecard:hover {
    filter: brightness(80%);
}

.game-icon {
    width: 8em;
    height: 8em;
}