:root {
    --square-size: 80px;
}

body {
    background-color: rgb(255, 235, 191);
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;
    /* justify-content: baseline; */
    height: 100%;
    overflow: hidden;
}

#game {
    display: flex;
    flex-direction: row;
    gap: 2em;
    align-items: center;
    justify-content: center;
}

.piece-holder {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    margin: 0;
    border: 1px solid black;
}

.piece-rack {
    display: flex;
    flex-direction: column;
    height: var(--square-size);
    width: var(--square-size);
    border: 0px solid black;
}

#board {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.row {
    display: flex;
    flex-direction: row;
    gap: 2px;
}

.square {
    display: flex;
    border: solid black 1px;
    width: var(--square-size);
    height: var(--square-size);
    align-items: center;
    justify-content: center;
    transition: background-color 0.1s;
}

.piece {
    position: absolute;
    display: flex;
    background-color: rgba(255, 255, 255, 0);
    border: 5px solid black;
    border-radius: 50%;
    transition: top 0.1s, left 0.1s;
}

.piece.white {
    border-color: white;
}

.piece.black {
    border-color: black;
}

.piece.large {
    width: calc(0.75*var(--square-size));
    height: calc(0.75*var(--square-size));
}

.piece.medium {
    width: calc(0.45*var(--square-size));
    height: calc(0.45*var(--square-size));
}

.piece.small {
    width: calc(0.15*var(--square-size));
    height: calc(0.15*var(--square-size));
    background-color: black;
}

.piece.small.white {
    background-color: white;
}

.piece.small.black {
    background-color: black;
}

@media only screen and (max-width: 800px) {
    #game {
        flex-direction: column;
    }

    .piece-holder {
        flex-direction: row;
    }
    
}